.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.main_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
  cursor: pointer;
}
.main_img > img {
  width: 90%;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.main_img > button {
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.6rem;
  font-size: 2rem;
  position: absolute;
}

.main_img > button:hover {
  color: hsl(26, 100%, 55%);
}
.left {
  left: 0;
}
.right {
  left: 90%;
}

.slider_imgs {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider_imgs > img {
  width: 20%;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.slider_imgs > img:hover {
  opacity: 60%;
  cursor: pointer;
}
.img_foucs {
  opacity: 40%;
  cursor: pointer;
  border: 2px solid hsl(26, 100%, 55%);
  transition: all 0.3s ease;
}

@media only screen and (max-width: 850px) {
  .slider .main_img > img {
    width: 100%;
    border-radius: 0;
  }
  .slider button {
    font-size: 1.2rem;
  }
  .slider .right {
    left: 85%;
  }
  .slider .left {
    left: 5%;
  }
}
