@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(223, 64%, 98%);
  width: 100vw;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
}

button {
  font-family: "Kumbh Sans", sans-serif;
  border: none;
  outline: none;
}
